@import "../../../../styles";
@import "../../../scss/colors";

.bg-image-div {
  position: relative;
  height: 500px;
  background-image: url('../../../assets/1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.box {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: $pale-dogwood;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: 2rem;
  margin-bottom: 10px;
  color: $taupe;
}

.text {
  font-size: 1rem;
  margin-bottom: 20px;
  color: $chamoisee;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: $silver;
  color: $taupe;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: $platinum;
}
