@import "../../../styles";
@import "../../scss/colors";


::ng-deep .mat-badge-content {

  left: 70% !important;
  bottom: 60% !important;;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $pale-dogwood;
}

