<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/app/dashboard">Navbar</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a aria-current="page" class="nav-link active" routerLink="/app/dashboard">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a aria-current="page" class="nav-link active" routerLink="/app/dashboard">Shop</a>
        </li>
        <li class="nav-item mx-2">
          <a aria-current="page" class="nav-link active" routerLink="./about">About</a>
        </li>
        <li class="nav-item mx-2">
          <a aria-current="page" class="nav-link active" routerLink="./contact-us">Contact</a>
        </li>


      </ul>
      <button [matBadge]="cartItemCount" mat-icon-button matBadgeColor="accent" routerLink="./cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</nav>
