<div class="container-fluid m-0 p-0">
  <footer class="py-5 bg-custom-light px-4">
    <div class="row">
      <div class="col-2">
        <h5 class="text-custom-dark">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Features</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Pricing</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">FAQs</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">About</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5 class="text-custom-dark">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Features</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Pricing</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">FAQs</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">About</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5 class="text-custom-dark">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Features</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">Pricing</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">FAQs</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-custom" href="#">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5 class="text-custom-dark">Subscribe to our newsletter</h5>
          <p class="text-custom">Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label class="visually-hidden" for="newsletter1">Email address</label>
            <input class="form-control border-custom" id="newsletter1" placeholder="Email address" type="text">
            <button class="btn btn-custom" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top border-custom-light">
      <p class="text-custom">© 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-custom" href="#">
          <svg class="bi" height="24" width="24">
            <use xlink:href="#twitter"></use>
          </svg>
        </a></li>
        <li class="ms-3"><a class="link-custom" href="#">
          <svg class="bi" height="24" width="24">
            <use xlink:href="#instagram"></use>
          </svg>
        </a></li>
        <li class="ms-3"><a class="link-custom" href="#">
          <svg class="bi" height="24" width="24">
            <use xlink:href="#facebook">dsaf</use>
          </svg>
        </a></li>
      </ul>
    </div>
  </footer>
</div>
